<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
  <php>
      <!-- <ini name="date.timezone" value="UTC" /> -->
      <ini name="display_errors" value="1" />
      <ini name="display_startup_errors" value="1" />
      <ini name="error_reporting" value="-1" />
      <ini name="log_errors" value="0" />
      <!-- <ini name="memory_limit" value="10M" /> -->
  </php>

  <testsuites>
    <testsuite name="AddEntry Base test">
      <directory>tests/base</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">PHP</directory>
    </whitelist>
  </filter>
</phpunit>
